html, body {
	background: rgb(26,26,26);
	color: #efefef;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 300;
}

/* div bgs rgba(255,255,255,0.1)  rgba(255,255,255,0.2) */
/* borders rgba(255,255,255,0.6) */
/* field bg rgba(255,255,255,0.6) */
/* green 51,255,99 */

.branding h3 span{
	padding:10px;
	border-radius:50%;
	background-color:rgb(51,255,99);
}

.container>div,footer>div{
	padding:40px;
	height:100%;
}
	.project-details{
		width:400px;
	}

footer{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgba(255,255,255,0.1);
	border-top:1px solid rgb(51,255,99);
}
	.layer-options>div{
		width:150px;
		float:left;
		margin:0 20px 20px 0;
	}