html, body {
	background: #222;
	color: #efefef;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 300;
	font-size: 16pt;
}

.views {
	background: #111;
	height: 100%;
}

.project-details {
	padding: 60px 0;
}

#svg-view {
	background: white;
	height: calc(100% - 40px);
	margin-top: 20px;
}

.keyframe-editor {
	background: #444;
	height: 300px;
}

.project {
	height: 500px;
}

.keyframe-visual {
	padding: 20px 0;
}

.keyframe {
	height: 50px;
	border-radius: 4px;
	border: 1px solid #222;
	min-width: 10px;
	background: salmon;
}


#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}
